spring:
  application:
    name: vet-saas

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        debug: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    org.springframework.security: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000
  refresh-expiration: 86400000

app:
  frontend-url: ${FRONTEND_URL}
  public-url: "https://nelly-unrestorative-ronald.ngrok-free.dev"
  security:
    cors:
      allowed-origins:
        - "http://localhost:5173"
        - "https://nelly-unrestorative-ronald.ngrok-free.dev"

api:
  peru:
    base-url: https://dniruc.apisperu.com/api/v1
    token: ${API_PERU_TOKEN}

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

mercadopago:
  access-token: ${ACCESS_TOKEN}
  # URL de notificación (Webhook) - Donde MP envía eventos
  # IMPORTANTE: En desarrollo usar ngrok, en producción tu dominio
  # Ejemplo ngrok: https://abc123.ngrok.io/api/pagos/webhook
  notification-url: ${MP_NOTIFICATION_URL:http://localhost:8080/api/pagos/webhook}
  webhook-secret: ${MP_WEBHOOK_SECRET}
  back-urls:
    success: "${app.public-url}/api/pagos/exito"
    failure: "${app.public-url}/api/pagos/fallo"
    pending: "${app.public-url}/api/pagos/pendiente"